WcfTest3.Client/Connected Services/CategoryService/CategoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTest3.Core.WcfContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTest3.Core.WcfContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CategoryContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:ArrayOfPostContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryContract" nillable="true" type="tns:CategoryContract" />
  <xs:complexType name="BaseContract">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseContract" nillable="true" type="tns:BaseContract" />
  <xs:complexType name="ArrayOfPostContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostContract" nillable="true" type="tns:PostContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostContract" nillable="true" type="tns:ArrayOfPostContract" />
  <xs:complexType name="PostContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CategoryContract" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfCommentContract" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="SentAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SentBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostContract" nillable="true" type="tns:PostContract" />
  <xs:complexType name="ArrayOfCommentContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentContract" nillable="true" type="tns:CommentContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentContract" nillable="true" type="tns:ArrayOfCommentContract" />
  <xs:complexType name="CommentContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Post" nillable="true" type="tns:PostContract" />
          <xs:element minOccurs="0" name="SentAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SentBy" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentContract" nillable="true" type="tns:CommentContract" />
  <xs:complexType name="ArrayOfCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryContract" nillable="true" type="tns:CategoryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryContract" nillable="true" type="tns:ArrayOfCategoryContract" />
</xs:schema>